test/unique.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="AddressCType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Address" type="AddressCType">
        <xs:unique name="Address_CType1Indexfeld">
            <xs:selector xpath="Address"/>
            <xs:field xpath="Name"/>
        </xs:unique>
    </xs:element>
</xs:schema>

